<div class="grid grid-nogutter">
  <div class="col-12">
    {{ label }}
    <span *ngIf="totalHit > 1">
      <span class="text-lg font-medium px-1 {{ styleClass }}" style="color: var(--pink-300)">{{ totalHit }}</span>
      <span>x</span>
    </span>
    <span *ngIf="displayRaw && raw > 0"
      ><span class="text-lg px-1 summary_compare">{{ raw }}</span
      >-></span
    >
    <span *ngIf="isDisplayRangeDmg" class="text-lg font-medium px-1 {{ styleClass }}"
      >{{ _min | number : numberFormat }} - {{ _max | number : numberFormat }}{{ isDisplayCompare ? '' : unit }}</span
    >
    <span *ngIf="!isDisplayRangeDmg" class="text-lg font-medium px-1 {{ styleClass }}">{{ _max | number : numberFormat }}{{ isDisplayCompare ? '' : unit }}</span>
    <span [hidden]="!isDisplayCompare">
      <i class="pi pi-arrow-right vs_sign px-1"></i>
      <span *ngIf="totalHit2 > 1">
        <span class="text-lg font-medium px-1 {{ compareStyleClass }}">{{ totalHit2 }}</span>
        <span>x</span>
      </span>
      <span *ngIf="isDisplayRangeDmg2" class="text-lg font-medium px-1  {{ compareStyleClass }}"
        >{{ _min2 | number : numberFormat }} - {{ _max2 | number : numberFormat }}{{ unit }}</span
      >
      <span *ngIf="!isDisplayRangeDmg2" class="text-lg font-medium px-1  {{ compareStyleClass }}">{{ _max2 | number : numberFormat }}{{ unit }}</span>
      <span [hidden]="!_diffPercent" class="text-lg font-medium px-1 {{ compareStyleClass }}">{{ _diffPercent }}</span>
    </span>
  </div>
</div>
