<div class="grid grid-nogutter">
  <div class="col-3">
    <div class="grid grid-nogutter">
      <div class="col-12">
        <div class="p-inputgroup dropdown-joblist">
          <span class="p-inputgroup-addon" style="width: 80px">Filter</span>
          <p-dropdown
            inputId="character"
            [autoDisplayFirst]="false"
            [resetFilterOnHide]="true"
            [options]="classList"
            [filter]="true"
            [showClear]="true"
            filterBy="label"
            scrollHeight="350px"
            [(ngModel)]="selectedClassIdFilter"
            placeholder="All classes"
            (onChange)="onClassFilterChange()"
          >
            <ng-template let-job pTemplate="selectedItem">
              <div class="flex gap-2 py-0 align-items-center" *ngIf="selectedClassIdFilter">
                <img src="assets/demo/images/jobs/icon_jobs_{{ job.icon }}.png" alt="" class="job_img" />
                <div class="text_ellips">{{ job.label }}</div>
              </div>
            </ng-template>
            <ng-template let-job pTemplate="item">
              <div class="flex gap-2 py-0">
                <img src="assets/demo/images/jobs/icon_jobs_{{ job.icon }}.png" alt="" class="job_img" />
                <div class="text_ellips">{{ job.label }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="col-fixed" *ngIf="presets.length > 0">
        <button
          type="button"
          class="p-button-help"
          pButton
          icon="pi pi-download"
          label="Load"
          [disabled]="!selectedPreset"
          (click)="onLoadPresetClick()"
        ></button>
      </div>
      <div class="col-fixed" *ngIf="presets.length > 0">
        <button
          type="button"
          class="p-button-danger"
          pButton
          icon="pi pi-trash"
          label="Delete"
          [disabled]="!selectedPreset"
          (click)="deletePreset()"
        ></button>
      </div>

      <div class="col-12" *ngIf="presets.length > 0">
        <p-listbox
          [options]="presets"
          [(ngModel)]="selectedPreset"
          [metaKeySelection]="false"
          [listStyle]="{ 'max-height': '550px' }"
          (onChange)="onSelectPreset(true)"
        >
          <ng-template let-item pTemplate="item">
            <div class="flex gap-1">
              {{ item.label }}
            </div>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>
  <div class="col-9 pl-3">
    <div class="grid grid-nogutter">
      <div class="col-6">
        <span class="text-lg font-semibold">Class: </span>
        <span class="text-primary-300">{{ classLabelMap[model.class] || 'None' }}</span>
      </div>
      <div class="col-6">
        <span class="text-lg font-semibold">Level: </span>
        <span class="text-primary-300">{{ model.baseLv || 'N/A' }}/{{ model.jobLv || 'N/A' }}</span>
      </div>
    </div>

    <div class="grid grid-nogutter">
      <div class="col-12">
        <div class="overflow-y-auto" style="max-height: 500px">
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left p-2">Equipment</th>
                <th class="text-left p-2">Refine</th>
                <th class="text-left p-2">Cards</th>
                <th class="text-left p-2">Enchants</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of displayMainItems">
                <td class="p-2">
                  <div class="flex align-items-center gap-2">
                    <span>{{ item.itemType | titlecase }}</span>
                  </div>
                </td>
                <td class="p-2">{{ item.refineTxt }}</td>
                <td class="p-2">
                  <div *ngFor="let cardId of item.cardIds" class="text-sm">
                    {{ getItemLabel(cardId) }}
                  </div>
                </td>
                <td class="p-2">
                  <div *ngFor="let enchantId of item.enchantIds" class="text-sm">
                    {{ getItemLabel(enchantId) }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="displayCostumeItems.length > 0" class="mt-4">
            <h4>Costume Equipment</h4>
            <table class="w-full">
              <thead>
                <tr>
                  <th class="text-left p-2">Type</th>
                  <th class="text-left p-2">Item</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of displayCostumeItems">
                  <td class="p-2">{{ item.itemType | titlecase }}</td>
                  <td class="p-2">{{ getItemLabel(item.mainId) }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="displayShadowItems.length > 0" class="mt-4">
            <h4>Shadow Equipment</h4>
            <table class="w-full">
              <thead>
                <tr>
                  <th class="text-left p-2">Type</th>
                  <th class="text-left p-2">Refine</th>
                  <th class="text-left p-2">Item</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of displayShadowItems">
                  <td class="p-2">{{ item.itemType | titlecase }}</td>
                  <td class="p-2">{{ item.refineTxt }}</td>
                  <td class="p-2">{{ getItemLabel(item.mainId) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
