<div class="layout-footer">
    <div class="flex flex-column align-items-center">
        <div>
            by
            <span class="font-medium ml-1">NITROBLISSERINO ATTACK SQUAD @ ROLA</span>
        </div>
        <div class="text-sm mt-1" style="font-size: 0.75rem;">
            A fork of <a href="https://turugrura.github.io/tong-calc-ro-host/#/" target="_blank" rel="noopener noreferrer" style="color: var(--primary-color); text-decoration: none;">Tong Calc</a>
        </div>
    </div>
</div>
