/* Remove the green border from home button */
:host ::ng-deep .router-link .p-menuitem-link {
  padding-bottom: 0.75rem !important;
  border: none !important;
}

:host ::ng-deep .chip-profile .p-chip {
  max-width: 15rem;
  overflow: hidden;
  /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.icon-user {
  color: var(--primary-color);
}

.youtube-link {
  background-color: black;
}
